.cont{
    margin-top: 3%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
    .esquerda{
        width: 49%;
    }
    .direita{
        width: 49%;
    }
}
.TopDados{
    background-color: var(--branco);
    box-shadow: var(--shadow);
    border-radius: 2px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(2, auto); 
    .cardDados{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-block: 35px;
        i{
            font-size: 55px;
            color: var(--inst);
        }
        div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            p{
                margin: 0px;
                font-weight: 700;
                font-size: 18px;
            }
        }
    }

}
.graficos{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.grafico_pizza{
        background-color: var(--branco);
        border-radius: 2px;
        box-shadow: var(--shadow);
        width: 48%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & p{
            font-size: 20px;
            color: var(--texto);
            font-weight: bold;
            margin-top: 5%;
        }
        & .pizza{
            
            width: 60%;
            height: 220px;
            display: flex;
            justify-content: center;
        }
        & .infos{
            margin-top: 5%;
            padding-block: 5%;
            width: 80%;
            height: 150px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            & .info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                & div{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                }
                & p{
                    font-size: 17px;
                    color: var(--texto);
                    margin: 0px;
                }
                & .bola{
                    width: 25px;
                    height: 25px;
                    background-color: rgb(0, 255, 106);
                    display: block;
                    border-radius: 100px;
                }
                & .manha{
                    background-color: #448FFF;
                }
        
                & .noite{
                    background-color: var(--sidebar);

                }
                & span{
                    font-size: 17px;
                    color: var(--texto);
                    font-weight: 500;
                }
            }
             & .info2{
                display: flex;
                align-items: center;
                justify-content: space-between;
                & div{
                    display: flex;
                    gap: 15px;
                    align-items: center;
                }
                & p{
                    font-size: 12px;
                    color: var(--texto);
                    margin: 0px;
                }
                & .bola{
                    width: 15px;
                    height: 15px;
                    background-color: rgb(0, 255, 106);
                    display: block;
                    border-radius: 100px;
                }
                & .manha{
                    background-color: #448FFF;
                }
        
                & .noite{
                    background-color: var(--sidebar);

                }
                & span{
                    font-size: 13px;
                    color: var(--texto);
                    font-weight: 500;
                }
            }
        }
    }
.engajamento{
    background: var(--branco);
    box-shadow: var(--shadow);
    
    margin-top: 4%;
    border-radius: 2px;
    p{
        text-align: center;
        font-size: 23px;
        padding-top: 2%;
        font-weight: 600;
    }
    canvas{
        width: 100%;
        height: 100%;
    }
    .grafico-linha{
        height: 300px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.grafico-direita{
    background-color: var(--branco);
    box-shadow: var(--shadow);
    border-radius: 2px;
    height: 600px;
        p {
            font-size: 27px;
            color: var(--cinzaEscuro);
            font-weight: 700;
            width: 100%;
            text-align: center;

        }

        div {
            padding-inline:3%;
            height: 85%;

        }

    }
    .posts{
        background-color: var(--branco);
        box-shadow: var(--shadow);
        margin-top: 5%;
        padding-block: 3%;
        padding-inline: 3%;
    }
    .tipo-post{
        font-size: 20px;
        font-weight: 500;
    }
         .card-conteudo {
    
            border-radius: 2px;
            padding: 2%;
            width: 100%;
            .cont-desc-card{
             
                height: 55px; 
            }


            p {
                font-size: 13px;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;

            }

            .img {
                width: 100%;
                height: 230px;
            

                img {
                    border-radius: 5px;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;

                }
            }

            .infos-conteudo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 43%;
                margin-top: 2%;

                .info {
                    display: flex;
                    align-items: center;
                    gap: 2px;
                    cursor: pointer;

                    i {
                        font-size: 18px;
                        margin: 0px;
                        color: var(--texto);
                    }

                    p {
                        color: var(--texto);
                        font-size: 16px;
                        margin: 0px;
                    }
                }
            }

        }


    /*Parte dos seguidores*/

    .list-group-item {
    border: none;
    border-bottom: 1px solid #eee;
}
.list-group-item:last-child {
    border-bottom: none;
}
